<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="index.scss" />
        <title>Bookers</title>
        
        
    </head>
    <body>
        <h1>Books</h1>
        <table>
            
        </table>
    </body>
    
    
</html>

