body {
    margin: 33px;
}

p {
    margin-top: 40px;
    margin-left: 50px;
}

a {
    color: #666;
    
}

a:hover {
    color: white;
    background-color: black;
}
// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
